.panel-icon {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(-10px);
    animation: iconFadeIn 1s ease-out forwards;
    animation-delay: 0.4s;
}

@keyframes iconFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
